<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="row">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
  <div class="row">
      <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a routerLink="/">Główna</a></li>
          <li role="presentation"><a routerLink="/moj">Jeden</a></li>
          <li role="presentation"><a routerLink="/rest">api</a></li>
          <li role="presentation"><a routerLink="/form1">Form1</a></li>
          <li role="presentation"><a routerLink="/form2">Form2</a></li>
          <li role="presentation"><a routerLink="/rest">rest</a></li>
          <li role="presentation"><a routerLink="/tabelka">tabelka</a></li>
        </ul>
        <router-outlet></router-outlet>
  </div>
</div>

